P { 
font-size : 12pt; 
font-family : arial; 
font-weight : normal; 
} 
H1 { 
font-size : 36pt; 
font-family : arial; 
text-decoration : underline; 
text-align : center; 
background-color : gray
} 
BODY { 
background-color : white
font-family : arial; 
color : black
}
TABLE { border: 1px solid gray }
